<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<footer class="page-footer grey darken-2" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Мonumonit</h5>
                <p class="grey-text text-lighten-4">Project for monitoring monuments condition</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Source</h5>
                <ul>
                    <li><a class="white-text" href="https://github.com/SingularityA/monumonit">Monumonit Project</a></li>
                    <li><a class="white-text" href="https://github.com/SingularityA/monumemory">Monumemory Project</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="green-text text-lighten-3" href="https://github.com/SingularityA">SingularityA</a>
        </div>
    </div>
</footer>

</body>
</html>
