<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Monument View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/common.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- Scripts -->
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/init.js"></script>
</head>
<body>

<div th:replace="~{header :: header}">Header</div>

<div class="container">
    <div class="container">
        <br><br>
        <div class="row center">
            <h4 class="header col s12 light" th:text="${newModel ? 'Create monument' : 'Edit monument'}"></h4>
        </div>
    </div>
    <div class="row">
        <form class="col s12" action="#" th:action="@{/monument/create/}" th:object="${monumentDto}" method="post">
            <!-- ID -->
            <input class="hide disabled" type="text" th:field="*{id}" th:value="${monumentDto?.id}"/>
            <!-- NAME -->
            <div class="row">
                <div class="input-field col s6">
                    <input id="name" type="text" th:field="*{name}" th:value="${monumentDto?.name}" class="validate">
                    <label for="name">Name</label>
                </div>
            </div>
            <!-- TYPE -->
            <div class="row">
                <div class="input-field col s12">
                    <select th:field="*{typeId}">
                        <option value="" disabled selected>Choose type</option>
                        <option th:each="type : ${typeList}"
                                th:value="${type.id}"
                                th:utext="${type.name}">Type
                        </option>
                    </select>
                    <label>Monument Type</label>
                </div>
            </div>
            <!-- DESCRIPTION -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="description" th:field="*{description}" th:value="${monumentDto?.description}" class="materialize-textarea"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <!-- COMPLEX -->
            <div class="row">
                <div class="input-field col s12">
                    <select th:field="*{complexId}">
                        <option value="" disabled selected>Choose complex</option>
                        <option th:each="complex : ${complexList}"
                                th:value="${complex.id}"
                                th:utext="${complex.name}">Complex
                        </option>
                    </select>
                    <label>Complex</label>
                </div>
            </div>
            <!-- PARENT -->
            <div class="row">
                <div class="input-field col s12">
                    <select th:field="*{parentId}">
                        <option value="" selected>Нет родителя</option>
                        <option th:each="monument : ${monumentList}" th:if="${monument.id} != ${monumentDto.id}"
                                th:value="${monument.id}"
                                th:utext="${monument.name}">Complex
                        </option>
                    </select>
                    <label>Parent Monument</label>
                </div>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn blue-grey" th:href="@{${newModel} ? '/monument/list/' : '/monument/view/' + ${monumentDto.id} + '/'}">
                    <i class="material-icons right">cancel</i>Cancel
                </a>
                <a class="waves-effect waves-light btn right green">
                    <input th:href="@{/monument/create/}" type="submit" value="Save">
                    <i class="material-icons right">send</i>
                </a>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{footer :: footer}">Footer</div>

</body>
</html>